*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    height: 96dvh;
}

iframe{
    width: 60%;
    height: 60%;
    
}
header{
    width: 100%;
    height: 40px;
    background-color: #8a0505;
    
}

main {
    width: 100%;
    height: 100%;
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    div{
        margin-top: 40px;
        box-shadow: 1px 1px 1px 1px #b9b9b9;
        border-radius: 8px;
        padding: 50px;
        width: 60%;
        p{
            line-height: 30px;
        }

    }
}

/* div {
    width: 50%;
    height: 100px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

div>.j {
    padding: 20px;
    background-color: black;
    border: 1px solid white;
    margin: 10px;
    width: 20%;
    transition: all 0.3s;
}

.j:hover {
    box-shadow: -10px 11px 1px 3px #000146;
    margin-left: 50px;
    margin-bottom: 50px;
    cursor: pointer;

} */