*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
}

.menu {
  background-color: #A01928;
  width: 200px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.btn-menu{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu > .img{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  
  img{
    width: 90%;
  }
}

iframe {
  width: 100%;
  height: 100dvh;
}

button{
    padding: 6px;
    border-radius: 8px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-weight: bold;
    box-shadow: 1px 1px 4px 1px #272727;
    transition: all 0.3s;
}

button:hover{
    cursor: pointer;
    scale: 0.97;
    box-shadow: none;
}


