*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
}

.header{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;  
  background-color: #a01929;
  border: 1px solid #272727;
  h3{
    color: #fff;
  }
  button{
    border: none !important;
    box-shadow: none !important;
    width: 3%;
    img{
      width: 80%;
    }
  }
  

}
.header > img{
  width: 6%;
  display: flex;
  justify-content: center; 
  
}


.menu {
  background-color: #A01928;
  width: 230px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.btn-menu{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  padding: 10px;
}

.menu > .img{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  
  img{
    width: 90%;
  }
}

iframe {
  width: 100%;
  height: 93.7dvh;
}

button{
    padding: 6px;
    border-radius: 8px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-weight: bold;
    box-shadow: 1px 1px 4px 1px #272727;
    transition: all 0.3s;
}

button:hover{
    cursor: pointer;
    scale: 0.97;
    box-shadow: none;
}

@media only screen and (max-width: 500px) {
  .menu{
    display: none;
    width: 300px;
  }
  .header > button{
    width: 15%;
  }
  .header > h3{
    font-size: 15px !important;
  }
  .header > img{
  width: 20%;
  display: flex;
  justify-content: center; 
  
}
}


